
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
          <ul style="text-align:left;">
              <li><strong>2019年度国家奖学金</strong></li>
              <li><strong>2017和2018年度校级奖学金</strong></li>
              <li><strong>优秀共青团员</strong></li>
              <li><strong>优秀共青团干部</strong></li>
              <li><strong>2019年第九届MathorCup 高校数学建模挑战赛二等奖</strong></li>
              <li><strong>2019年中国高校计算机大赛微信小程序应用开发赛（小游戏类别）三等奖</strong></li>
              <li><strong>2019年第七届“泰迪杯”数学挖掘挑战赛广东省一等奖</strong></li>
              <li><strong>2019年第三届“普译奖”全国大学生翻译比赛——英译汉组别（决赛阶段）优秀奖</strong></li>
              <li><strong>2019 年“粤港澳大湾区 IT 应用系统开发大赛”佛山赛区二等奖</strong></li>
              <li><strong>2019 年广东省大学生计算机设计大赛三等奖</strong></li>
              <li><strong>2018 年全国大学生数学建模竞赛广东省分赛三等奖</strong></li>
              <li><strong>2018年“外研社杯”全国英语阅读大赛校级初赛特等奖</strong></li>
              <li><strong>......</strong></li>
          </ul>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
